@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

/* Custom scrollbar styles */
.scroll-smooth {
  scroll-behavior: smooth;
}

.scroll-smooth::-webkit-scrollbar {
  width: 6px;
}

.scroll-smooth::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
}

.scroll-smooth::-webkit-scrollbar-thumb {
  background: #363945;
  border-radius: 3px;
}

.scroll-smooth::-webkit-scrollbar-thumb:hover {
  background: #4A4D5E;
}